html {
  font-size: 16px;
  height: 100%;
  font-family: Quicksand, sans-serif;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255,1);
}

a, a:visited {
  color: rgb(33, 33, 33);
}

h2 {
  margin: 0;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(0,0,0);
  font-family: "Quicksand", sans-serif;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: 0px;
  position: fixed;
  height: 56px;
  width: 100%;
  z-index: 100;
  display: none;

  transition: 0.15s ease;
}

.header-scrolled {
  color: rgb(255, 255, 255);
  background-color: rgb(27,27,27);

  transition: 0.15s ease;
}

header > #logo {
  display: inline-block;
  max-height: 40px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
}

#header-title {
  display: inline-block;
  line-height: 1;
  max-width: 380px;
  outline: none;
  overflow: hidden;
  padding: 16px 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: baseline;
}


#body-container {
  width: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
}

#body-container > section {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: calc(100% - 8px);
  max-width: 1184px;
  padding-left: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(33, 33, 33);
}

#body-container > section:first-child {
  height: 30px;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

#main-title {
  font-size: 24.0pt;
  font-weight: 700;
}

.custom-btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.custom-btn  {
  width: fit-content;
  background-color: rgb(55, 55, 55);
  border-radius: 5px;
  border: none;
  color: #FFF;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.custom-btn:active {
  background-color: rgb(38, 38, 38);
}

.custom-btn:visited {
  color: #FFF;
}

.custom-btn > img {
  max-height: 20px;
}

#academic-email-btn-mobile, #personal-email-btn-mobile {
  display: none;
}


#body-container > section:nth-child(2n) {
  font-weight: 400;
  font-size: 11.0pt;
  line-height: 1.75;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#overview-text {
  width: 74%;
  padding-right: 1%;
}

#overview-portrait {
  width: 23%;
  margin-top: 1em;
  padding-left: 2%;
  display: block;
}

#portrait {
  width: 100%;
}


#body-container > section:nth-child(3n) {
  font-size: 11.0pt;
  color: rgb(33, 33, 33);
}

#body-container > section:nth-child(3n) > h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 14.0pt;
  color: rgb(33, 33, 33);
}

.work-entry  a {
  color: #660000;
  text-decoration: none;
}

.work-entry a:visited {
  color: #5B0F00;
  text-decoration: none;
}

.work-entry ul {
  list-style-type: square;
  margin: 6px 0 0 0;
  padding: 0;
}

.work-entry ul li {
  margin-left: 15.0pt;
}

.work-entry p, .work-entry main {
  line-height: 1.5;
  margin-bottom: 0.5pt;
  margin-left: 15.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  padding-bottom: 0.0pt;
  padding-left: 0.0pt;
  padding-right: 0.0pt;
  padding-top: 0.0pt;
}

.abstract-toggle {
  width: fit-content;
  color: #660000;
}

.abstract-toggle:hover {
  cursor: pointer;
}

.abstract {
  display: none;
  color: rgb(33, 33, 33);
  font-style: italic;
}

.abstract-toggle-arrow {
  transition: 0.25s ease;
}



@media screen and (max-width: 767px) {

  #body-container > section:nth-child(2n) {
    display: block;
  }

  #overview-text {
    width: 100%;
  }

  #overview-portrait {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  #portrait {
    width: 50%;
    max-width: 50%;
    padding-top: 1.5rem;
  }

}


@media screen and (max-width: 600px) {
  #body-container {
    width: 92.25%;
    padding-left: 3.75%;
    padding-right: 4%;
  }


  #main-title {
    font-size: 20.0pt;
  }

  #portrait {
    width: 75%;
    max-width: 75%;
  }

  .custom-btn-group {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .custom-btn {
    width: 42%;
    margin-right: 0;
    justify-content: center;
  }

  .custom-btn-group:last-of-type .custom-btn:last-of-type {
    margin-bottom: 0;
  }
 
  #academic-email-btn, #personal-email-btn {
    display: none;
  }

  #academic-email-btn-mobile, #personal-email-btn-mobile {
    display: flex;
  }
}