html {
  font-size: 16px;
  height: 100%;
  font-family: Quicksand, sans-serif;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255,1);
}

a, a:visited {
  color: rgb(33, 33, 33);
}

h2 {
  margin: 0;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(0,0,0);
  font-family: "Quicksand", sans-serif;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: 0px;
  position: fixed;
  height: 56px;
  width: 100%;
  z-index: 100;

  transition: 0.15s ease;
}

.header-scrolled {
  color: rgb(255, 255, 255);
  background-color: rgb(27,27,27);

  transition: 0.15s ease;
}

header > #logo {
  display: inline-block;
  max-height: 40px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
}

#header-title {
  display: inline-block;
  line-height: 1;
  max-width: 380px;
  outline: none;
  overflow: hidden;
  padding: 16px 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: baseline;
}


#body-container {
  width: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
}

#body-container > section {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: calc(100% - 8px);
  max-width: 1184px;
  border-bottom: 3px solid rgba(0,0,0,0.150000006);
  padding-left: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(33, 33, 33);
}

#body-container > section:last-child {
  border-bottom: none;
}

#body-container > section:first-child {
  height: 99px;
  padding-top: 60px;
  padding-bottom: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

#main-title {
  font-size: 24.0pt;
  font-weight: 700;
}

#google-scholar-btn, .email-btn  {
  width: fit-content;
  background-color: #4D90FE;
  border-radius: 5px;
  border: none;
  color: #FFF;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#google-scholar-btn:hover, .email-btn:hover {
  background-color: rgb(57, 131, 254);
  cursor: pointer;
}

#google-scholar-btn:active, .email-btn:active {
  background-color: rgb(53, 122, 232);
}

#google-scholar-btn > img, .email-btn > img {
  max-height: 20px;
}

#academic-email-btn {
  margin-right: 10px;
  background-color: rgb(132, 0, 0);
}

#academic-email-btn:hover {
  background-color: #660000;
}

#academic-email-btn:active {
  background-color: #5B0F00;
}


#body-container > section:nth-child(2n) {
  font-weight: 400;
  font-size: 11.0pt;
  line-height: 1.75;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#overview-text {
  width: 74%;
  padding-right: 1%;
}

#overview-portrait {
  width: 23%;
  padding-left: 2%;
  display: block;
}

#portrait {
  width: 100%;
}


#body-container > section:nth-child(3n) {
  font-size: 11.0pt;
  color: rgb(33, 33, 33);
}

#body-container > section:nth-child(3n) > h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 14.0pt;
  color: rgb(33, 33, 33);
}

.work-entry  a {
  color: #660000;
  text-decoration: none;
}

.work-entry a:visited {
  color: #5B0F00;
  text-decoration: none;
}

.work-entry ul {
  list-style-type: square;
  margin: 6px 0 0 0;
  padding: 0;
}

.work-entry ul li {
  margin-left: 15.0pt;
}

.work-entry p {
  line-height: 1.5;
  margin-bottom: 0.5pt;
  margin-left: 15.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  padding-bottom: 0.0pt;
  padding-left: 0.0pt;
  padding-right: 0.0pt;
  padding-top: 0.0pt;
}

.abstract-toggle {
  width: fit-content;
  color: #660000;
}

.abstract-toggle:hover {
  cursor: pointer;
}

.abstract {
  display: none;
  color: rgb(33, 33, 33);
  font-style: italic;
}

.abstract-toggle-arrow {
  transition: 0.25s ease;
}



@media screen and (max-width: 767px) {

  #body-container > section:nth-child(2n) {
    display: block;
  }

  #overview-text {
    width: 100%;
  }

  #overview-portrait {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  #portrait {
    width: 50%;
    max-width: 50%;
    padding-top: 1.5rem;
  }

}


@media screen and (max-width: 480px) {
  #header-title {
    display: none;
  }
}